{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} Login Morais Parking{%endblock%}

{% block body%}

<div class="row">
    <div class="col-md4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Morais Parking - Cadastro de usuários</h4>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    <a class="btn btn-secondary btn-block" href="{% url 'index'%}"> Voltar</a>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock%}